<script type="text/template" id="profile_navigation-template">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse span1">
                <a href="/" id="logo" class="span1">Tickit</a>
            </div>

            <div class="span11">
                <div class="right">

                    <div class="search-box">
                        <input class="search" type="text">
                        <label class="search fui-search"></label>
                    </div>

                    <div class="account dropdown">
                        <div id="notification" class="fui-chat"><span></span></div>
                        <div class="account-thumb">
                            <img height="35px" width="35px" src="<%= user.avatarUrl %>">
                        </div>

                        <div class="dropdown">
                            <i class="dropdown-arrow dropdown-arrow-inverse"></i>
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                <%= user.fullname %>
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu dropdown-inverse" role="menu">
                                <li><a tabindex="-1" href="#">Help</a></li>
                                <li><a tabindex="-1" href="#">Edit Profile</a></li>
                                <li><a tabindex="-1" href="#">Preferences</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>