app/bootstrap*
app/cache/*
app/sqlite_test
app/config/parameters.yml
app/logs/*
app/Resources/public/js/vendor/*
app/Resources/node_modules
app/phpunit.xml
vendor/*
composer.phar
web/bundles
web/css
web/config.php
coverage.xml
bin/*
