app/bootstrap*
app/SymfonyRequirements.php
app/check.php
app/cache/*
app/sqlite_test
app/config/parameters.yml
app/logs/*
app/Resources/public/js/vendor/*
app/Resources/node_modules
app/Resources/uploads/issue-attachments
app/phpunit.xml
vendor/*
composer.phar
web/bundles
web/css
web/js
web/config.php
coverage.xml
bin
.idea
npm-debug.log
