app/bootstrap*
app/cache/*
app/sqlite_test
app/config/parameters.yml
app/logs/*
src/Tickit/CoreBundle/Resources/public/js/vendor/*
app/phpunit.xml
vendor/*
composer.phar
web/bundles
web/css
coverage.xml
bin/*
