{% block permissions_widget %}
    <table>
        {% spaceless %}
            <thead>
                <tr>
                    <th>Permission</th>
                    <th>Group Granted?</th>
                    <th>Override for this user?</th>
                    <th>User Granted?</th>
                </tr>
            </thead>
            {% if form|length %}
                <tbody>
                    {% for child in form %}
                        {% set permission = child.vars['value'] %}
                        <tr data-permission-id="{{ permission.id }}">
                            <td>{{ permission.name }}</td>
                            <td>{{ form_widget(child.groupValue) }}</td>
                            <td>
                                <input type="checkbox" class='user-override' {% if permission.userValue != null %} checked="checked" {% endif %} />
                            </td>
                            <td>{{ form_widget(child.userValue) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                <tr>
                    <td colspan="4">You need to select a group for this user before you can edit permissions.</td>
                </tr>
            {% endif %}
        {% endspaceless %}
    </table>
{% endblock permissions_widget %}