{% extends "::no-content.html.twig" %}

{% block content %}

    <div class="login-container">
        <div class="logo-wrap">
            <h1 class="logo"><a href="">Tickit</a></h1>
        </div>
        <form action="{{ path('user_login_check') }}" method="post">
            <div class="login-panel">
                {% if error %}
                    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}
                <div class="login-form">
                    <div class="twitter-login">
                        <a href="javascript:void(0);" class="btn btn-large btn-block btn-info twitter-btn">Login with Twitter</a>
                    </div>

                    <div class="control-group">
                        <input type="text" class="login-field" name="_username" value="{{ last_username }}" placeholder="Email or username" id="email-name">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="control-group">
                        <input type="password" class="login-field" name="_password" value="" placeholder="Password" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <div class="remember-login">
                        <div class="remember-label">
                            <p>Remember me</p>
                        </div>
                        <div class="remember-check">
                              <input type="checkbox" id="login-remember" name="_remember_me" value='on' checked="checked" data-toggle="switch" />
                        </div>
                    </div>

                    <input type="submit" id="login-submit" name="_submit" class="btn btn-primary btn-large btn-block" name="Login">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                </div>

                <a class="login-link" href="#">Lost your password?</a>

            </div>
        </form>
    </div>

{% endblock content %}