<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>

        <meta charset="utf-8" />

        <title>{% block title %}Tickit | Support System{% endblock %}</title>

        {% stylesheets  '../app/Resources/public/css/styles.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% if is_granted('ROLE_USER') %}
            {% render 'TickitCoreBundle:Navigation:topNavigation' %}
        {% endif %}

        <div id='container'>
            {% if is_granted('ROLE_USER') %}
                {% render 'TickitCoreBundle:Navigation:subNavigation' %}
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        {% javascripts '../app/Resources/public/js/bootstrap.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}

    </body>
</html>
