<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>

        <meta charset="utf-8" />

        <title>{% block title %}Tickit | Support System{% endblock %}</title>

        {% stylesheets  '../app/Resources/public/css/styles.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% render controller('TickitCoreBundle:Navigation:topNavigation') %}

        <div id='container'>
            {% if is_granted('ROLE_USER') %}
                {% render controller('TickitCoreBundle:Navigation:subNavigation') %}
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts '../app/Resources/public/js/extra/jquery/jquery.js'
                           '../app/Resources/public/js/extra/underscore/underscore.js'
                           '../app/Resources/public/js/extra/backbone/backbone.js'
                           '../app/Resources/public/js/extra/backbone.marionette/lib/backbone.marionette.js'
                           '../app/Resources/public/js/App.js'
                           'bundles/fosjsrouting/js/router.js'
                           '@TickitProjectBundle/Resources/public/js/App.Project.js'
                           '@TickitProjectBundle/Resources/public/js/Project.js'
                           '@TickitProjectBundle/Resources/public/js/ProjectCollection.js'
                           '@TickitProjectBundle/Resources/public/js/ProjectRowView.js'
                           '@TickitProjectBundle/Resources/public/js/ProjectListView.js'
                           '../app/Resources/public/js/App.Router.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}

        <footer id='footer'>
            {% block footer %}{% endblock %}
        </footer>

        <!-- TODO: move these to a JIT loader -->
        <script type="text/template" id="project_list-template">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Created</td>
                    <td></td>
                </tr>
            </thead>
            <tbody></tbody>
        </script>

        <script type="text/template" id="project_row-template">
            <td><%= id %></td>
            <td><%= name %></td>
            <td><%= created %></td>
            <td><a href="">Edit</a></td>
            <td><a href="">Delete</a></td>
        </script>
    </body>
</html>
