{% extends 'TickitProjectBundle::layout.html.twig' %}

{% block project_content %}
    <h2>Edit Project</h2>

    <form method='post' action='{{ action }}' {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type='submit' value='Save Changes' />
    </form>
{% endblock %}