{% extends 'TickitProjectBundle::layout.html.twig' %}

{% block project_content %}
    <h2>Manage Projects</h2>

    {% if app.session.flashbag.has('notice') %}
        <div class="flash-notice">
            {% for message in app.session.flashbag.get('notice') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class='data-list'>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Created</td>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.created|date('d/m/Y H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}