# copy this file as parameters.yml and edit with your own environment details
parameters:
    database_driver:    pdo_mysql
    database_host:      127.0.0.1
    database_port:      ~
    database_name:      tickit
    database_name_test: tickit_tests
    database_user:      root
    database_password:  ~

    mailer_transport:   smtp
    mailer_host:        localhost
    mailer_user:        ~
    mailer_password:    ~

    node_bin: /usr/local/bin/node
    node_lib: /usr/local/share/npm/lib/node_modules

    requirejs_bin: /usr/local/bin/r.js

    locale:            en
    secret:            0b3652cd3673080142a5562bc7440f0d

    remember_me_key: remember-%secret%
