<script type="text/template" id="pagination-template">
    <ul>
        <li><a class="icon-angle-left" href=""></a></li>
        <li><a href="javascript:void(0);">1</a></li>
        <li><a href="javascript:void(0);">2</a></li>
        <li><a class="icon-angle-right" href=""></a></li>
    </ul>

    <div class="bulk-action">
        <a href="javascript:void(0);" class="icon-trash"></a>
        <a href="javascript:void(0);" class="icon-star"></a>
        <a href="javascript:void(0);" class="icon-plus"></a>
    </div>
    <div class="refresh">
        <a href="javascript:void(0);" class="icon-spin"></a>
    </div>
</script>