<script type="text/template" id="pagination-template">

    <% if (totalPages > 0) { %>
        <ul class="pagination">
            <li><a class="icon-angle-left" href="javascript:void(0);" data-page="prev"></a></li>
            <% var i = 0; while(++i <= totalPages) { %>
                <li><a href="javascript:void(0);" data-page="<%= i %>"><%= i %></a></li>
            <% } %>
            <li><a class="icon-angle-right" href="javascript:void(0);" data-page="next"></a></li>
        </ul>
    <% } %>

    <div class="bulk-action">
        <form>
            <select>
                <option value="trash">trash</option>
                <option value="trash">trash</option>
                <option value="trash">trash</option>
                <option value="trash">trash</option>
            </select>
        </form>
    </div>

    <div class="refresh">
        <a href="javascript:void(0);" class="icon-spin"></a>
    </div>
</script>