{% extends "::no-content.html.twig" %}

{% block content %}

    <div class="login-wrap" style="background-image: url('{{ asset('bundles/tickituser/images/backgrounds/bg-1.jpg') }}');"></div>
    <div class="login-container">

        <div class="logo-wrap">
            <h1 class="logo"><a href="">Tickit</a></h1>
        </div>

        <div class="login-panel">
            <form action="{{ path('api_user_login_check') }}" method="post">
                <div class="login-panel-inner">

                    {# Main login form #}
                    <div class="login-form">
                        <h2>Login</h2>
                        <div class="error-container"></div>

                        <div class="control-group">
                            <input type="text" class="login-field" name="_username" value="{{ last_username }}" placeholder="Email your email" id="email-name">
                            <label class="login-field-icon icon-user" for="login-name"></label>
                        </div>

                        <div class="control-group">
                            <input type="password" class="login-field" name="_password" value="" placeholder="Password" id="login-pass">
                            <label class="login-field-icon icon-lock" for="login-pass"></label>
                        </div>

                        <div class="remember-login">
                            <div class="remember-label">
                                <input type="checkbox" id="login-remember" name="_remember_me" value='on' checked="checked" />
                                <label for="login-remember">Remember me</label>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <input type="submit" id="login-submit" name="_submit" class="btn" name="Login" value="Login">
                    </div>

                    {# Social logins #}
                    <div class="social-login">
                        <span class="login-icon icon-tags"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada quam in magna vestibulum tempus. Nulla sed velit magna.</p>
                        <div class="social-btns">
                            <div class="twitter-login">
                                <a href="javascript:void(0);" class="btn icon-twitter twitter-btn">Login with Twitter</a>
                            </div>

                            <div class="google-login">
                                <a href="javascript:void(0);" class="btn icon-gplus google-btn">Login with Google</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <a class="login-link" href="javascript:void(0);">Lost your password?</a>
    </div>

{% endblock content %}