<header role="banner">

    <div class="inner">
        <a href="#" id="logo">Tickit</a>
        <nav role="navigation">
            <ul>
                {% for item in navigation %}
                    <li class="active">
                        <a href="{{ item.route }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class='account'>
            <div class='account-thumb'>
                <img height='28px' width='28px' src='/images/test/account-thumb.png' />
                <span class='gloss'></span>
            </div>
            <a href="#">{{ app.user.fullName }}</a>
        </div>
    </div><!--/inner -->

</header>