<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Tickit</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% for item in navigation %}
                        <li class="active">
                            <a href="{{ item.route }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>