<header role="banner">

    <div class="inner">
        <a href="#" id="logo">Tickit</a>
        <nav role="navigation">
            <ul>
                {% for item in navigation %}
                    <li class="active">
                        <a href="{{ item.route }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div><!--/inner -->

</header>