<script type="text/template" id="client_list-template">
    <thead>
        <tr>
            <th>
                <a href="javascript:void(0)">
                    <div class="cell">Action</div>
                </a>
            </th>
            <th>
                <a href="javascript:void(0)">
                    <div class="cell">Name</div>
                </a>
            </th>
            <th>
                <a href="javascript:void(0)">
                    <div class="cell">Active Projects</div>
                </a>
            </th>
            <th>
                <a href="javascript:void(0);">
                    <div class='cell'>Status</div>
                </a>
            </th>
            <th colspan="2"><a href="javascript:void(0)"><div class="cell">Manage</div></a></th>
            <th><div class="cell"><input type="checkbox"></div></th>
        </tr>
    </thead>
    <tbody></tbody>
</script>