/******************************************************************************************/
/* header and navigation
/******************************************************************************************/
header {
	position:relative;
	height:52px;
	min-width:1146px;
	background:url('/images/structure/nav-bg.jpg') 0 0 repeat-x;
}
.inner {
	position:relative;
	margin:0 auto;
	width:1146px;
}
.account {
    position: absolute;
    right: 0;
    padding: 0 12px 3px 14px;
    background: transparent url('/images/structure/account-shadow.png') no-repeat left;
    height: 50px;
}
.account a {
    color: #fff !important;
    display: inline-block !important;
    margin: 8px 0 0 9px;
    padding-right: 20px;
    background: transparent url('/images/structure/white-arrow-down.gif') no-repeat right;
}
.account img {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: #313131 1px solid;
}
.account-thumb {
    display: inline-block;
    position: relative;
}
.account-thumb .gloss {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-image: url('/images/structure/thumb-gloss.png');
    display: inline-block;
}
#logo, #logo:hover {
	float:left;
	color:#fff;
	width:245px;
	font-size:18px;
	line-height:52px;
	text-align:right;
	display:inline-block;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000000;
    filter:dropshadow(color=#000000, offx=1, offy=1);
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
}
header nav {
	float:left;
	height:34px;
    border-radius:3px;
	margin:8px 0 0 82px;
    border-bottom:1px solid #7a8293;
	background:url('/images/structure/nav.jpg') 0 0 repeat;
    box-shadow:inset 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}
header nav ul {
	list-style:none;
	padding:0;
	margin:0 10px;
}
header nav li {
	float:left;
	margin:0 10px;
}
header[role="banner"] a {
	color:#ced0d5;
	height:34px;
	display:block;
	font-size:12px;
	font-weight:700;
	line-height:34px;
	text-shadow: 0px 2px 0px #000000;
    filter:dropshadow(color=#000000, offx=1, offy=1);
}
header[role="banner"] a:hover {
    color: #fff;
}
header[role="banner"] {
    -webkit-box-shadow: 0px 2px 2px 1px #3e4a64;
    box-shadow: 0px 2px 2px 1px #3e4a64;
    z-index: 99;
}
/******************************************************************************************/
/* container
/******************************************************************************************/
#container {
	position:relative;
	width:1146px;
	height:700px;
	background:#fff;
	margin:0 auto 60px;
}
#container header {
	height:90px;
	background:#fbfbfb;
	border-bottom:1px solid #ebebeb;
}
#container nav {

}