<script type="text/template" id="profile_navigation-template">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse left">
                <div class="search-box right">
                    <input class="search" type="text" value="Search">
                    <label class="search icon-search"></label>
                 </div>
            </div>

            <div class="left">
                <a href="/" id="logo">Tickit</a>
            </div>

            <div class="right">
                <div class="right">
                    <div class="quick-links">
                        <ul class="nav">
                            <li class="">
                                <a class="icon-plus add-ticket" data-title="Add Ticket" href="#"></a>
                            </li>
                            <li>
                                <a class="icon-gauge" data-title="Dashboard" href="#"></a>
                            </li>
                            <li class="">
                                <a class="icon-tags" data-title="Tickets" href="#"></a>
                            </li>
                            <li class="">
                                <a class="icon-list-alt" data-title="Projects" href="#"></a>
                            </li>
                        </ul>
                    </div>
                     <div class='account'>
                         <div class="account-links">
                            <a href="" id="notification" class="icon-chat"><span></span></a>
                            <div>
                                    <a href="" class="icon-wrench"><span class="hidden"></span></a>
                                    <ul>
                                        <li><a class="icon-users" href="">Users</a></li>
                                        <li><a class="icon-cog-alt" href="">System Settings</a></li>
                                        <li><a href="">Preferences</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">Logout</a></li>
                                    </ul>
                            </div>
                            <a href="" class="icon-off"><span class="hidden"></span></a>
                         </div>
                         <div class='account-thumb'>
                             <a href="javascript:void(0);">
                                <img height="35px" width="35px" src='<%= user.avatarUrl %>'/>
                            </a>
                         </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>