<script type="text/template" id="user_row-template">
    <td class="action">
        <div class="cell">
            <div class="icon-export">
                <div class="flyout">
                    <ul>
                        <li><a class="icon-pencil" href="">Edit</a></li>
                        <li><a class="icon-trash" href="">Delete</a></li>
                        <li><a class="icon-star" href="">Favourite</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="cell"><%= forename %></div>
    </td>
    <td>
        <div class="cell"><%= surname %></div>
    </td>
    <td>
        <div class="cell"><%= username %></div>
    </td>
    <td>
        <div class="cell"><%= email %></div>
    </td>
    <td>
        <div class="cell"><%= isAdmin %></div>
    </td>
    <td>
        <div class="cell"><a href="<%= editUrl %>">Edit</a></div>
    </td>
    <td>
        <div class="cell"><a href="<%= deleteUrl %>">Delete</a></div>
    </td>
    <td class="select-cell">
        <div class="cell">
            <input id="select_<%= id %>" type="checkbox">
            <label for="test_<%= id %>"></label>
        </div>
    </td>
</script>