<script type="text/template" id="user_list-template">

    <div class="filter"></div>

    <table id="user-list">
        <thead>
            <tr>
                <th>
                    <a href="javascript:void(0)">
                        <div class="cell">Action</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)">
                        <div class="cell">Forename</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)">
                        <div class="cell">Surname</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)">
                        <div class="cell">Username</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)">
                        <div class="cell">Email Address</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0)">
                        <div class="cell">Is Admin?</div>
                    </a>
                </th>
                <th colspan="2"><a href="javascript:void(0)"><div class="cell">Manage</div></a></th>
                <th><div class="cell"><input type="checkbox"></div></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="list-pagination"></div>
</script>