<script type="text/template" id="issue-activity-template">
    
    <div class="followers">
      <span class="icon-user title-border-bottom">Followers(5)</span>
      <div class="avatar-list">
        <img src="https://secure.gravatar.com/avatar/cac28a44a2ef75e05a9c921ae5a222ef?s=35&amp;d=mm">
        <img src="https://secure.gravatar.com/avatar/cac28a44a2ef75e05a9c921ae5a222ef?s=35&amp;d=mm">
        <img src="https://secure.gravatar.com/avatar/cac28a44a2ef75e05a9c921ae5a222ef?s=35&amp;d=mm">
        <img src="https://secure.gravatar.com/avatar/cac28a44a2ef75e05a9c921ae5a222ef?s=35&amp;d=mm">
        <img src="https://secure.gravatar.com/avatar/cac28a44a2ef75e05a9c921ae5a222ef?s=35&amp;d=mm">
        <img src="https://secure.gravatar.com/avatar/cac28a44a2ef75e05a9c921ae5a222ef?s=35&amp;d=mm">
      </div>
    </div>

    <div class="recent-activities">
    <span class="title-border-bottom">Activity Feed</span>
    <ol class="activity-list">
        <li class="activity-item high">
          <div class="avatar">
              <img src="https://secure.gravatar.com/avatar/a4e1932e60692f4b9c757a2e2a5331ad?s=35&amp;d=mm">
              <span>Amy Schinner</span>
          </div>
          <div class="activity-note">Activity <span class="time-stamps">- 12m ago</span></div>

          

        </li>


        <li class="activity-item medium">Activity </li>

        <li class="activity-item">Activity </li>

        <li class="activity-item success">Activity </li>


    </ol>
</script>
