<script type="text/template" id="issue-information-template">
    <h1><%= number %></h1>

    <div>
        <span>People</span>
        <div>
            <span>Assigned To</span>
            <span><%= assignedTo %></span>
        </div>
        <div>
            <span>Created By</span>
            <span><%= createdBy %></span>
        </div>
    </div>

    <div>
        <span>Dates</span>
        <div>
            <span>Due</span>
            <span><%= dueDate %></span>
        </div>
        <div>
            <span>Created</span>
            <span><%= createdAt %></span>
        </div>
        <div>
            <span>Updated</span>
            <span><%= updatedAt %></span>
        </div>
    </div>
</script>
