<script type="text/template" id="issue-list-template">

    <div class="filter"></div>

    <table id="issue-list">
        <thead>
            <tr>
                <th>
                    <a href="javascript:void(0);">
                        <div class="cell">Action</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0);">
                        <div class="cell">Issue Number</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0);">
                        <div class="cell">Title</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0);">
                        <div class="cell">Type</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0);">
                        <div class="cell">Status</div>
                    </a>
                </th>
                <th>
                    <a href="javascript:void(0);">
                        <div class="cell">Priority</div>
                    </a>
                </th>
                <th colspan="2">
                    <a href="javascript:void(0);">
                        <div class="cell">Manage</div>
                    </a>
                </th>
                <th>
                    <div class="cell">
                        <input id="all" type="checkbox"><label for="all"></label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="list-pagination"></div>
</script>
