{% extends 'TickitUserBundle::layout.html.twig' %}

{% block user_content %}
    <h2>Manage Groups</h2>

    <div class='data-list'>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td><a href="{{ path('group_edit', { id: group.id }) }}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}