/******************************************************************************************/
/* header 
/******************************************************************************************/

.twitter-btn{
    background-image: url('../images/site/twitter-logo.png');
    background-position: 10% center;
    background-repeat: no-repeat;
    &:hover{
        background-position: 10% center;
    }
}

.login-error {
    -webkit-animation: todoWobble 0.4s ease-out;
    -moz-animation: todoWobble 0.4s ease-out;
    -o-animation: todoWobble 0.4s ease-out;
    animation: todoWobble 0.4s ease-out;
}

body{
    font-family: 'Lato', sans-serif;    
}  
.main{
    position: relative;
    min-height: 600px;
} 
header.main-header{
    width: 100%;
    z-index: 999;
    min-width: 930px;
    .navbar{
        margin-bottom: 0px;
    }
    .account{
        background: @midnight-blue;
        float: right;
        padding: 5px 20px;
        .account-thumb{
            float: left;
            img{
                .border-radius(50%);
                overflow: hidden;
                margin-right: 10px;
            }
        }
        div.fui-chat{
            color: @clouds;
            float: left;
            position: relative;
            padding: 10px 29px 0px 0px;
            .transition(0.25s);
            &:hover{cursor: pointer; color: @silver;}
            span{
                position: absolute;
                background: @alizarin;
                width:  10px;
                height: 10px;
                top: 5px;
                left: 12px;
                border: 1px solid @pomegranate;
                .border-radius(50%);
            }
        }
        a{
            padding: 10px 0px;
            display: block;
            float: left;
            color: #fff;
            &:hover{
                color: @turquoise;
                text-decoration: none;
            }
        }
    }
}
.navbar-inner{
    .border-radius(0px);
}
.nav{
    float: left;
}
#logo{
    float: left;
    color: #fff;
    text-decoration: none;
    padding: 11px 20px;
    font-family: 'Rambla', sans-serif;
    line-height: 29px;
    width: 120px;
    &:hover{
        text-decoration: none;
    }
}
.navbar-inverse .nav > li > a{
    border-bottom: none;
}
.navbar-inverse .nav > li.active > a, 
.navbar-inverse .nav > li.active > a:hover, 
.navbar-inverse .nav > li.active > a:focus{
    padding-left: 20px;
}
.navbar .nav > li:first-child > a{
     .border-radius(0px);
}

/******************************************************************************************/
/* Login panel // register
/******************************************************************************************/
.login-panel {
  position: relative;
  z-index: 1;
}
.login-panel{
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
.login-panel-inner {
  width: 350px;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

}
.login-panel:hover .login-panel-inner {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;  
}
.login-form {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 304px;

}
.login-form.register {
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  transform: rotateY(180deg);
  width: 350px;
}


.login-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    background: @midnight-blue;
    .login-container{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -175px;
        margin-top: -235px;
        width: 350px !important;
        .logo-wrap{
            height: 70px;
            position: relative;
            width: 100%;
        }
        h1 {
            text-align: center;
            display: block;
            padding: 10px 0px;
            position: absolute;
            left: 50%;
            top: 0px;
            width: 300px;
            margin-left: -150px;
            a{
                color: #fff;
                text-decoration: none;
                text-align: center;
                font-family: 'Rambla', sans-serif;
            }
             &:hover{
                  -webkit-animation-name: bounce;
                  -webkit-animation-duration: 0.5s;
                  -webkit-animation-timing-function: linear;
                  -webkit-animation-iteration-count: 1;                
             }
        }
    }
    .login-panel{
        width: 350px !important;
        margin: 0px auto;
        
        .twitter-login{
            border-bottom: 1px solid @silver;
            padding: 5px 0px 20px 0px;
            margin: 0px 0px 20px 0px
        }
        .remember-login{
            width: 100%;
            position: relative;
            height: 40px;
            color: #34495e;
            .remember-login{
                position: absolute;
                width: 100px;
                top: 0px;
                left: 0px;
            }
            .remember-check{
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }
    .login-form{
        height: auto;
        &:before{
          content: none;  
        }
        &.register .login-field{
            width: 255px;            
        }
        .login-field {
            width: 255px;
            padding-right: 40px;
        }
    }
}  
   
/******************************************************************************************/
/* Loading page
/******************************************************************************************/
    #spin-wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        background: @midnight-blue;
        #spin{
            position: absolute;
            height: 100px;
            width: 100px;
            top: 50%;
            left: 50%;
            margin-left: -50px;
            margin-top: -50px;
            background: url('../images/icons/ajax-loader.gif') center center no-repeat;
        }
    }

/******************************************************************************************/
/* Side Menu
/******************************************************************************************/



.side-menu{
    background: @clouds;
    height: auto;
    min-height: 100%;
    position: absolute;
    width: 200px;
    left: 0px;
    top: 0px;
    .nav{
        float: none;
        li{
            float: none;
            a{
                display: block;
                padding: 12px 10px 12px 40px;
                border-bottom: 1px solid #ddd;
                color: @asbestos;
                font-weight: bold;
                &:hover{
                    background: @asbestos;
                    color: @clouds;
                }
            }
        }
    }
}



.sidr{display:none;position:absolute;position:fixed;top:0;height:100%;z-index:999999;width:260px;overflow-x:none;overflow-y:auto;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:15px;background:#333;color:#fff;-webkit-box-shadow:inset 0 0 5px 5px #222;-moz-box-shadow:inset 0 0 5px 5px #222;box-shadow:inset 0 0 5px 5px #222}


.sidr .sidr-inner{padding:0 0 15px}

.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}
.sidr.right{left:auto;right:-260px}.sidr.left{left:-260px;right:auto}.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{font-size:11px;font-weight:normal;padding:0 15px;margin:0 0 5px;color:#fff;line-height:24px;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));background-image:-webkit-linear-gradient(#4d4d4d,#1a1a1a);background-image:-moz-linear-gradient(#4d4d4d,#1a1a1a);background-image:-o-linear-gradient(#4d4d4d,#1a1a1a);background-image:linear-gradient(#4d4d4d,#1a1a1a);-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}.sidr p{font-size:13px;margin:0 0 12px}.sidr p a{color:rgba(255,255,255,0.9)}.sidr>p{margin-left:15px;margin-right:15px}.sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #1a1a1a;border-bottom:1px solid #4d4d4d}.sidr ul li{display:block;margin:0;line-height:48px;border-top:1px solid #4d4d4d;border-bottom:1px solid #1a1a1a}.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{border-top:none;line-height:49px}.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li a,.sidr ul li span{padding:0 15px;display:block;text-decoration:none;color:#fff}.sidr ul li ul{border-bottom:none;margin:0}.sidr ul li ul li{line-height:40px;font-size:13px}.sidr ul li ul li:last-child{border-bottom:none}.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{border-top:none;line-height:41px}.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li ul li a,.sidr ul li ul li span{color:rgba(255,255,255,0.8);padding-left:30px}.sidr form{margin:0 15px}.sidr label{font-size:13px}.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(255,255,255,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#333;background:#fff}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(255,255,255,0.9)}
