<script type="text/template" id="notification_collection-template'">
    <div class="navigation-control">
        <form>
            <input type="radio" id="notification-enable" name="notification-active" value="1" />
            <label for="notification-enable"><span></span>Enable</label>
            <input type="radio" id="notification-disable" name="notification-active" value="0" />
            <label for="notification-disable"><span></span>Disable</label>
        </form>
    </div>
    <ul></ul>
</script>