user_index:
    pattern: /{page}
    defaults: { _controller: TickitUserBundle:User:index, page: 1 }
    requirements:
        page: \d+

user_add:
    pattern: /add
    defaults: { _controller: TickitUserBundle:User:add }

user_edit:
    pattern: /edit/{id}
    defaults: { _controller: TickitUserBundle:User:edit }
    requirements:
        id: \d+
